<?xml version="1.0" encoding="UTF-8" ?>
<robot name="IWearRemapper" build=0 portprefix="">

    <device type="iwear_remapper" name="WearableData">
        <param name="wearableDataPorts">(/FTShoeLeft/WearableData/data:o /FTShoeRight/WearableData/data:o /XSensSuit/WearableData/data:o)</param>
        <param name="useRPC">false</param>
        <param name="wearableRPCPorts">(/FTShoeLeft/WearableData/metadataRpc:o /FTShoeRight/WearableData/metadataRpc:o /XSensSuit/WearableData/metadataRpc:o)</param>
        <param name="outputPortName">/IWearRemapper/data:o</param>
    </device>

</robot>