<launch>
    <group ns="HDEViz">
        <arg name="HDEViz" />
        <arg name="gui" default="False" />
        <arg name="vel" default="True" />
        <arg name="eff" default="True" />
        <param name="robot_description" textfile="$(find human_viz_model)/urdf/Meri66DoF.urdf"  />
        <param name="use_gui" value="$(arg gui)"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
        <param name="tf_prefix" value="HDEVizTF" type="str"/>
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find human_viz_model)/HDEViz.rviz" required="true" />
    </group>
    <group ns="icub02">
        <arg name="robotModel" />
        <arg name="gui" default="False" />
        <arg name="vel" default="True" />
        <arg name="eff" default="True" />
        <param name="robot_description" textfile="$(find human_viz_model)/urdf/iCubGenova02.urdf"  />
        <param name="use_gui" value="$(arg gui)"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
        <param name="tf_prefix" value="icub02" type="str"/>
    </group>
</launch>
