[Desktop Entry]
Version=1.0
Type=Application
Name=SenseGlove
Comment=SenseGlove Application to communicate with the SenseGlove HW.
Exec=/home/icub/robot-code/Teleoperation/SenseGlove-API/SenseCom/Linux/SenseCom.x86_64
Icon=/home/icub/robot-code/Teleoperation/SenseGlove-API/SenseCom/Linux/SenseCom_Data/Resources/UnityPlayer.png
Terminal=false
# copy this file to "~/.local/share/applications/" for finding it in the ubuntu-launcher
# cp SenseGlove.desktop ~/.local/share/applications/
